.segment{
  border-top:none!important;
  margin-bottom:0.1em!important;
  padding-top:0.2em!important;
  padding-bottom:0.2em!important;
}
.fields{
  margin-top:0.4em!important;
  margin-bottom:0.2em!important;
}
.header{
  font-size: 1.1em!important;
}
