/target/
/build/
/.settings/
/.idea/
/*.project
/*.lock
.externalToolBuilders
*.lock
*.project
*.classpath
.settings

.idea
target
build
bin
.idea
.gradle
*.iml
cache
version-*
gradle
gradlew.bat
gradlew
