.menu {
  width: 100% !important;
}

.item {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.content {
  display: inline-block !important;
  width: 100% !important;
}

.icon {
  width: 50% !important;
  display: block !important;
  float: left;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.header {
  background-color: #4682B4 !important;
  color: white !important;
  line-height: 1.6em !important;
}
