.container{
  text-align: left!important;
}

.form{
  padding:0.2em!important;
}
.fieldset{
  padding-bottom:0.5em!important;
  width:100%!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}

.header{
  margin-bottom:0.3em!important;
}

.sublist{
  padding-bottom:0.3em!important;
  margin-bottom:0.5em!important;
  width:100%!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}

.subtitle{
  font-size:15px!important;
  font-weight: 700!important;
}

.row{
  margin-top:0.2em!important;
  margin-bottom:0.2em!important;
}
.actions{
  width: 100%!important;
}
.clear{
  clear:both!important;
}
