.item{
  color:black!important;
  padding: 0.4em 0.4em!important;
}
.item:hover{
  font-weight:700!important;
  color:#4169E1!important;
}

.menu{
  margin-top: 0em!important;
  width:14.2em!important;
}
