.cards{
  margin-bottom: 0em!important;
  padding-bottom: 0em!important;
  width: inherit!important;
}
.card{
  margin-bottom: 0.5em!important;
  margin-left: 0.6rem!important;
}

.content {
  padding: 0.3em 0.2em!important;
}

.extra-content{
  padding: 0.3em 0.2em!important;
}

.buttons{
  display:flex!important;
}

.button{
  flex:1!important;
  padding-left: 0em!important;
  padding-right: 0em!important;
}
