.container{
  text-align: left!important;
  padding: 0em 0em 0em 0.1em!important;
}

.form{
  padding:0em!important;
}
.flag{
  padding-left:0.16em!important;
  padding-right:0.16em!important;
  font-weight:900!important;
  font-size:84pt!important;
  float:left!important;
}
.header{
  margin-bottom:0.5em!important;
  margin-top:0em!important;
}
.title{
  padding-left:0.2em!important;
  padding-right:0.2em!important;
  margin-bottom:0em!important;
  width:100%!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}
.message{
  padding: 0.16em 1em!important;
  margin-bottom: 0.3em!important;
}
.fieldset{
  width:100%!important;
  padding-left:0.5em!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}
.row{
  margin-top:0.3em!important;
  margin-bottom:0.3em!important;
}
.ordergrid{
  padding-bottom:0em!important;
}
.orderrow{
  margin-top:0.3em!important;
  margin-bottom:0em!important;
  padding-bottom:0em!important;
  padding-top:0em!important;
}
.disicon{
  filter:grayscale(100%)!important;
  -webkit-filter:grayscale(100%)!important;
}
.distext{
  color:lightgrey!important;
}
.acttext:hover{
  cursor:pointer!important;
}
.left{
  width:88%!important;
  padding-top:0em!important;
  padding-bottom:0em!important;
}
.right{
  width:11%!important;
  padding-top:3em!important;
  padding-left:0em!important;
}

.titem{
  padding:0em 0.3em!important;
}
.tmenu{
  margin-bottom:0.3em!important;
}
