
.body tr td{
  padding-top: 0.3em!important;
  padding-bottom: 0.3em!important;
}
.header{
  background-color: #4682B4!important;
  color: white!important;
}
.header th{
  background-color: #4682B4!important;
  color: white!important;
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
}
.table{
  margin-top:0.1em!important;
}
