.left{
  width:37%!important;
  padding-bottom:0em!important;
  padding-right:0em!important;
}
.right{
  width:63%!important;
  padding-bottom:0em!important;
  padding-left:0em!important;
  padding-right:0em!important;
}
.page{
  padding:0.3em!important;
}
.fieldset{
  width:100%!important;
  padding-left:0.5em!important;
  box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
}

.header{
  padding-left:0.7em!important;
  padding-top:0.3em!important;
}
